.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 12vh;
}

.app-footer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  height: 8vh
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 12vh - 8vh);
  /* padding: 16px; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
