  <div class="blog-article">
    <h2>Credit Score Analysis</h2>
    <p class="author">
      By Pradeepsurya Rajendran <span class="date">| May 07 2023</span>
    </p>
    <p class="content">
      <h3> Problem Statement</h3>

      <p class="'justified">
        Global finance companies usually uses basic banking and credit-related information to determine the credit
        worthiness (also known as credit score brackets) of customers.
        Lenders uses these score brackets to categorize borrowers into different risk levels and also to assess their
        likelihood of default.
        Credit scores depend on wide variety of factors such as annual income, credit utilization ratio, number of bank
        accounts, number of credit cards, etc.
        Calculating and classifying customers into different score brackets are complicated and challenging for
        financial companies to do manually.
        Inaccurate credit score classification can lead to potential financial loss. Therefore, there exists a
        significant requirement for accurate and efficient credit score brackets classification models that can assist
        in making informed decision.
        Thus, it is a significant problem in the financial and lending industries. In this project, the objective is to
        analyse the dataset with banking and credit related information to identify key features that impact credit
        score brackets, evaluate different machine learning algorithms to come up with a model that can accurately
        classify the scores without bias.
        Thus, the contribution of this project is crucial in the lending industry, as the development of accurate credit
        score classification models can help promote equality, fairness, and efficient lending practices.

        <h3>Data Source</h3>
        <p class="'justified">
          The dataset is available in <a
            href="https://www.kaggle.com/datasets/parisrohan/credit-score-classification?select=train.csv"
            target="_blank">Kaggle</a> and is open-sourced and structured.
          It contains basic banking details and information pertinent to credit for multiple customers as the input
          features.
          All these data were categorized into different credit score brackets (Poor, Good and Standard) and these score
          values belong to the target variable.
          There are a total of hundred thousand records, with twenty seven input features and one target variable.
        </p>
        <hr class="my-4">
        <p class="'justified">This application utilizes an XGBoost model to predict credit score brackets. You can input
          your data to see the model's predictions. <a class="btn btn-primary btn-sm" routerLink="/input-form"
            role="button">Get Started</a></p>
        <!-- <p>Click the button below to start making predictions for data sample</p> -->
        <p class="lead">

        </p>

  </div>
